$white: #ECEFF1;
$off-white: #CFD8DC;
$black: #263238;
$lightBlack: #607D8B;
$teal: #00E5FF;
$blue: #01579B;
$yellow: #FFD600;
$red: #BF360C;
$orange: #FF6D00;

$color__light: $white;
$color__light-alt: $off-white;

$color__dark: $black;
$color__darken: darken($black, 1%);
$color__lighten: lighten($black, 5%);

$color__dark-alt: $lightBlack;
$color__primary: $yellow;
$color__accent: darken($white, 20%);
