input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__light;
	border: 2px solid $color__dark-alt;
	background: $color__dark;
	border-radius: $radius;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: $color__light;
	border: 2px solid $color__light;
	transition: 0.6s ease;
	background: rgba(255,255,255,0.1);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 5px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}


.home-contact {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		background: rgba(0,0,0,0);
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="password"]:focus,
	input[type="search"]:focus,
	textarea:focus {
		background: rgba(255,255,255,0.1);
	}
}
