a {
	color: $color__primary;
	transition: 0.4s ease;

	&:visited {
		color: $color__primary;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__accent;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.main-navigation {
	a {
		line-height: 25px;
		border-bottom: 3px solid $color__dark;
	}
	a:hover {
		color: $color__light;
		border-bottom: 3px solid $color__primary;
		transition: 0.4s ease;
	}
}
