.about-gallery {
  width: 45%;
  float: right;
  margin-top: 1em;

}

.about-gallery-cell {
  min-width: 100%; /* full width */
  height: auto; /* height of gallery */
}


.about-content {
  float: left;
  width: 50%;
}
