.main-navigation {
  background: $color__dark;

  li {
    padding: 10px;
    margin-top: 20px;
  }

  @media screen and (max-width: $M) {
    display: table;
    margin: 0 auto;

    ul {
      margin: 0;
    }
  }
}

.site-branding {
  float: left;
  margin-right: 25px;

  h1 {
    font-size: 42px;
  }

  h3 {
    margin-top: -39px;
  }

  @media screen and (max-width: $M) {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

.header-contact--info {
  background: $color__background-alt;
  float: right;
  padding: 25px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);

  p {
    margin: 0;
  }
  .fa {
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: $color__light;
  }
  a:hover {
    border-bottom: 3px solid $color__primary;
  }

  @media screen and (max-width: $M) {
    width: 100%;
    position: relative;
    text-align: center;
  }
}
