.home-services {
  padding: 50px 0 100px 0;
  text-align: center;

  h1 {
    padding-top: 50px;
    margin: 0;
  }

  h2 {
    margin-top: 0;
  }

  p {
    margin: 0;
    padding-bottom: 50px;
  }

}

.card {
  width: 23%;
  margin: 1%;
  float: left;

  @media screen and (max-width: $L) {
    width: 45%;
    margin: 2.5%;
  }

  @media screen and (max-width: $M) {
    width: 95%;
  }

  img {
    height: 200px;
    padding: 25px;
  }

}
