.home-contact {
  background: $color__background-alt;
  padding: 75px 0 100px 0;
  overflow:hidden;

  h2 {
    @include font-size(2.2);
    margin: 0;
    text-align: center;
  }

  h3 {
    margin: 5px 0;
  }

  textarea {
    height: 200px;
  }

  span {
    display: inline-block;
  }
}

.home-contact--section {
  width: 48%;
  float: left;
  margin: 1%;

  p:first-child {
    margin-top: 2em;
  }

  .wpcf7-form-control-wrap {
    width: 100%;
  }

  @media screen and (max-width: $M) {
    width: 95%;
    margin: 0 2.5%;

    text-align: center;
  }
}
