.home-about {
  padding: 75px 0 100px 0;
  text-align: center;

  h2 {
    @include font-size(2.2);
    margin: 0;
  }

  p {
    padding-bottom: 20px;
  }
}

.home-about--content {
  width: 800px;
  margin: 0 auto;

  @media screen and (max-width: $M) {
    width: 95%;
    margin: 0 2.5%;
  }
}
