.home-contact {
  padding: 75px 0 100px 0;
  h1 {
    text-align: center;
  }
  textarea {
    height: 200px;
  }
}

.home-contact--section {
  width: 48%;
  float: left;
  margin: 1%;

  @media screen and (max-width: $M) {
    width: 95%;
    margin: 0 2.5%;

    text-align: center;
  }
}
