.home-accident {
  background: rgba(255,255,255,0.1);
  padding: 75px 0 100px 0;
  text-align: center;
}

.home-accident--content {
  width: 910px;
  margin: 0 auto;

  h3 {
    letter-spacing: 0.5px;
  }

  ul {
    padding-top: 10px;
    text-align: left;
    list-style-type: decimal;
  }

  @media screen and (max-width: $M) {
    width: 95%;
    margin: 0 2.5%;
  }
}
