.site-header,
.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: $L) {
    width: 100%;
  }
}

.bar {
  width: 100px;
  height: 3px;
  margin: 10px auto;
  border-bottom: 3px solid $color__light;
}
